.right {
    float: right;
  }

  .left {
    float: left;
  }

  /* .rating .stars {
    margin-right: 15px;
  } */

  .rating .stars .star {
    float: left;
    / padding: 2px 1px; /
    cursor: pointer;
  }

  .rating .stars .star:before {
    font-family: 'FontAwesome';
    content: '\f005';
    color: #d0e8f0;
    font-size: 1em;
  }

  .rating .stars .star:hover:before,
  .rating .stars .star.to_rate:before,
  .rating .stars .star.rated:before {
    color: #f7e303;
  }

  .rating .stars .star.no_to_rate:before {
    color: #f7e303;
  }



